<div class="footer">
    <p>© DarniPora.lt pažintys 2006-2017 - Visos teisės saugomos UAB „Interneto pažintys“</p>
    <a href="#">
        <p>Pažinčių portalai</p>
    </a>
    <a href="#">
        <p>Forumas</p>
    </a>
    <a href="#">
        <p>Žurnalas</p>
    </a>
</div>