{% extends 'FOS/with_navbar1.html.twig' %}

{% block body %}
    <div class="row">
        <div class="couple-background-1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <h1 class='title-big'>Pradėk savo MEILĖS istoriją</h1>
                    </div>

                    <div class="col-sm-4">

                        <h1>Titel 2</h1>
                        <h2>There will be form here</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>

    <h3>Belekas</h3>
{% endblock %}


